{% load i18n %}
<div class="btn-group export">
    <a id="export-menu" class="dropdown-toggle btn btn-default btn-sm" data-toggle="modal" data-target="#export-modal" href="#">
        <i class="glyphicon glyphicon-export"></i> {% trans "Export" %}
    </a>
    <div id="export-modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{% trans "Export" %} {{ opts.verbose_name_plural|capfirst }}</h4>
                </div>
                <div class="modal-body">
                    <form method="get" action="" class="form-horizontal" role="form">
                        {{ form_params|safe }}
                        <input type="hidden" name="_selected_actions" value=""/>
                        <input type="hidden" name="_select_across" value=""/>
                        {% for field in form %}
                            <div class="form-group">
                                {{ field.errors }}
                                <label for="{{ field.id_for_label }}" class="control-label ">{{ field.label }}</label>
                                <div class="controls">{{ field }}</div>
                                {% if field.field.help_text %}
                                    <p class="help">{{ field.field.help_text|safe }}</p>
                                {% endif %}
                            </div>
                        {% endfor %}

                        <div class="form-group form-inline">
                            <div class="controls">
                                <div class="radio">
                                    <label>
                                        <input name="scope" type="radio" value="all" checked="checked"/>
                                        {% trans "Export all data" %}
                                    </label>
                                </div>
                                <div class="checkbox col-sm-offset-1">
                                    <label class="text-info">
                                        <input name="queryset_all" type="checkbox" value="filtered" checked="checked"/>
                                        {% trans "with filter" %}
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="controls">
                                <div class="radio">
                                    <label>
                                        <input name="scope" type="radio" value="current"/>
                                        {% trans "Export current page data." %}
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="controls">
                                <div class="radio">
                                    <label>
                                        <input name="scope" type="radio" value="selected"/>
                                        {% trans "Export selected data." %}
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="controls">
                                <div class="radio">
                                    <label>
                                        <input name="scope" type="radio" value="header_only"/>
                                        {% trans "Export header only." %}
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="controls">
                                <div class="checkbox">
                                    <label class="text-info">
                                        <input name="result-action" type="checkbox" value="sendmail"/>
                                        {% trans "Send result file via email." %}
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default"
                                    data-dismiss="modal">{% trans "Close" %}</button>
                            <button class="btn btn-success" type="submit"><i
                                    class="glyphicon glyphicon-export"></i> {% trans "Export" %}</button>
                        </div>
                    </form>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dalog -->
        </div><!-- /.modal -->
    </div>
</div>